# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=candidate_db

# Application Server Port
PORT=8001

# Public Portal URL
PUBLIC_PORTAL_URL=https://candidate-verification-portal.up.railway.app

# Sandbox.co.in Live API Credentials
SANDBOX_API_KEY=key_live_0f422a42fa4f4e0490f353365fbb0777
SANDBOX_API_SECRET=secret_live_a67caa541c8642b98f4be8574fb7b6e0
SANDBOX_BASE_URL=https://api.sandbox.co.in

# Super Admin System Credentials
ADMIN_USERNAME=Aravind
ADMIN_PASSWORD=Aravind!@123

# JWT Secret Key
JWT_SECRET=CandidateVerify@Secure#2026!AravindPalem$JWT
